// @import "base";
// You need the base only when you are not using bootstrap. In that case, go to _base.scss
// to customize it as you may want.

@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap";

// Write your sass code here or import partials

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-repeat: no-repeat;
}

@font-face {
  font-family: "peachSundress";
  src: url("../assets/fonts/bulletto/Bulletto\ Killa.ttf");
}

body {
  background-color: rgba(191, 214, 217, 0.89);
}

.navbar {
  border: 1px solid #ff0000;
  position: fixed;
  background-color: rgba(223, 229, 117, 0.3);
  width: 100%;
  height: 5rem;

  //   z-index: 3;
}

.navbar ul > li {
  //   margin: 1rem;

  padding-right: 5.5rem;
  list-style: none;
  font-family: "peachSundress";
  src: url("../assets/fonts/bulletto/Bulletto\ Killa.ttf");
  font-size: larger;
}

ul {
  //   justify-content: space-between;
  display: flex;
  padding: 1rem;
  width: 100%;
  justify-content: end;
}

.nav-tabs {
  position: relative;
}

.dropdown {
  padding: 0;
  position: absolute;
  display: none;
  //   width: 100%;
}

.list-item:hover > .dropdown {
  display: block;
}

.social-tabs {
  display: block;
}

.introPage {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  align-items: center;
}

.greeting-text {
  font-family: "peachSundress" !important;
  font-size: 12.5rem;
  letter-spacing: 0.5rem;
  width: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  line-height: 1.5;
}

.hi-container {
  height: 100vh;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.hi-text {
  width: 56rem;
  height: 50rem;
  display: flex;
  justify-content: space-between;
  margin-right: 8rem;
  //   justify-content: center;
  //   align-items: center;
}

.letter-h {
  display: flex;
  height: 100%;
}

.h-right {
  margin-left: 0.4rem;
}

.h-middle {
  height: 100%;
  width: 12rem;
  margin-left: 0.4rem;
  display: flex;
  align-items: center;
}

.blind-i {
  visibility: hidden;
}

.h-cube {
  background-color: black;
  width: 12rem;
  height: 12rem;
  margin-bottom: 0.4rem;
  border-radius: 10px;
  animation: firefly 3.5s;
  //   animation-iteration-count: infinite;
}

@keyframes firefly {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.cb-01 {
  animation-delay: 0;
}

.cb-02 {
  animation-delay: 2s;
}

.cb-03 {
  animation-delay: 4.2;
}

.cb-04 {
  animation-delay: 2.5;
}

.cb-05 {
  animation-delay: 3.5s;
}

.cb-06 {
  animation-delay: 3s;
}

.cb-07 {
  animation-delay: 1.8s;
}

.cb-08 {
  animation-delay: 0.5s;
}

// INTRO PAGE ENDS STORY SLIDES STARTS

h2 {
  font-family: "peachSundress";
  text-align: center;
  margin-bottom: 10rem;
  font-size: 4rem;
}

.story {
  height: 100vh;

  border: 2px solid green;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.chapter {
  width: 50%;
  //   border: 5px solid red;
  //   height: 5rem;
  font-size: 2rem;
  //   margin: auto;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
}

a {
  text-decoration: none;
  color: rgb(231, 244, 215);
  text-shadow: 1px 0px 11px rgba(23, 26, 28, 0.73);
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

// REMNANTS HI-GRID

// .hi-grid {
//   display: grid;
//   grid-template-columns: repeat(7, 1fr);
//   grid-template-rows: repeat(10, 10vw);
//   gap: 0.2rem;
//   width: 50vw;
//   height: 100vh;

// }

// .hi-grid {
//   display: grid;
//   grid-template-columns: repeat(8, 1fr);
//   grid-template-rows: repeat(12, 180px);
//   gap: 2px;
//   width: 50vw;
//   height: 100vh;
//   border: 2px solid red;
// }

// .h-block {
//   background-color: black;
//   animation: firefly 3.5s;
//   animation-iteration-count: infinite;
// }

// .hb-020 {
//   //   background-color: yellow;
//   width: 100%;
//   height: 50%;

//   //   duration: 4s;
// }

// .hb-034 {
//     background-color: yellow;
// }

// HIDDEN GRID BLOCKS

// .hb-01,
// .hb-02,
// .hb-03,
// .hb-04,
// .hb-05,
// .hb-06,
// .hb-07,
// .hb-08,
// .hb-09,
// .hb-010,
// .hb-011,
// .hb-012,
// .hb-013,
// .hb-014,
// .hb-015,
// .hb-017,
// .hb-019,
// .hb-021,
// .hb-022,
// .hb-026,
// .hb-028,
// .hb-029,
// .hb-031,
// .hb-033,
// .hb-035,
// .hb-036,
// .hb-037,
// .hb-038,
// .hb-039,
// .hb-040,
// .hb-041,
// .hb-042,
// .hb-043,
// .hb-044,
// .hb-045,
// .hb-046,
// .hb-047,
// .hb-048,
// .hb-049 {
//   visibility: hidden;
// }

// .hb-011 {
//   grid-column: 3;
//   grid-row: 3.5/4.5;
// }
