// @import "base";
// You need the base only when you are not using bootstrap. In that case, go to _base.scss
// to customize it as you may want.

@import "variables";
// @import "../../node_modules/bootstrap/scss/bootstrap";

// Write your sass code here or import partials

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-repeat: no-repeat;
}

@font-face {
  font-family: "peachSundress";
  src: url("../assets/fonts/bulletto/Bulletto\ Killa.ttf");
}

body {
  background-color: rgba(191, 214, 217, 0.89);
}

.navbar {
  //   border: 1px solid #ff0000;
  position: fixed;
  background-color: rgba(223, 229, 117, 0.4);
  width: 100%;
  height: 5rem;

  ul {
    display: flex;
    padding: 1rem;
    width: 100%;
    justify-content: end;

    li {
      font-size: 1.8rem;
      padding-right: 5.5rem;
      list-style: none;
      font-family: "peachSundress";
      //   border-bottom: 0;
    }
  }
}

a {
  text-decoration: none;
}

.nav-tabs:hover {
  color: #ff5dcd;
}

.nav-tabs ul li:hover {
  color: #ff5dcd;
}

//   src: url("../assets/fonts/bulletto/Bulletto\ Killa.ttf");
//   font-size: larger;
// }

.dropdown {
  padding: 0;
  position: absolute;
  display: none;
  //   width: 100%;
}

.drop-item:hover > .dropdown {
  display: block;
}

.social-tabs {
  //   display: block;
  padding: 0.5rem 0;

  a {
    font-size: 1.5rem;
  }
}

.introPage {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  align-items: center;

  background: linear-gradient(-45deg, #dce8a7, #bddde1, #d8dab0, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }

  //   SUSPICIOUS NAVBAR BEHAVIOR

  //   background-color: #e5e5f7;
  //   opacity: 0.8;
  //   background-image: linear-gradient(135deg, #c6dadd 25%, transparent 25%),
  //     linear-gradient(225deg, #c6dadd 25%, transparent 25%),
  //     linear-gradient(45deg, #c6dadd 25%, transparent 25%),
  //     linear-gradient(315deg, #c6dadd 25%, #e5e5f7 25%);
  //   background-position: 15px 0, 15px 0, 0 0, 0 0;
  //   background-size: 15px 15px;
  //   background-repeat: repeat;
}

.greeting-text {
  font-family: "peachSundress" !important;
  font-size: 12.5rem;
  letter-spacing: 0.5rem;
  width: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  line-height: 1.5;
}

.hi-container {
  height: 100vh;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.hi-text {
  width: 56rem;
  height: 50rem;
  display: flex;
  justify-content: space-between;
  margin-right: 8rem;
  //   justify-content: center;
  //   align-items: center;
}

.letter-h {
  display: flex;
  height: 100%;
}

.h-right {
  margin-left: 0.4rem;
}

.h-middle {
  height: 100%;
  width: 12rem;
  margin-left: 0.4rem;
  display: flex;
  align-items: center;
}

.blind-i {
  visibility: hidden;
}

.h-cube {
  background-color: black;
  width: 12rem;
  height: 12rem;
  margin-bottom: 0.4rem;
  border-radius: 10px;
  animation: firefly 3.5s;
  //   animation-iteration-count: infinite;
}

@keyframes firefly {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.cb-01 {
  animation-delay: 0;
}

.cb-02 {
  animation-delay: 2s;
}

.cb-03 {
  animation-delay: 4.2;
}

.cb-04 {
  animation-delay: 2.5;
}

.cb-05 {
  animation-delay: 3.5s;
}

.cb-06 {
  animation-delay: 3s;
}

.cb-07 {
  animation-delay: 1.8s;
}

.cb-08 {
  animation-delay: 0.5s;
}

// INTRO PAGE ENDS STORY SLIDES START

// @keyframes bounce {
//   0% {
//   }

//   100% {
//     transform: translateY(0);
//   }
// }

@keyframes grad-cap {
  0% {
    // transform: translateY(-100%);
    transform: rotate(-22deg) translate(-13rem, -10rem);
    opacity: 0;
  }

  20% {
    opacity: 0.2;
  }

  70% {
    transform: translateY(0%);
  }
  80% {
    transform: translateY(-15%);
  }
  90% {
    transform: translateY(0%);
  }
  95% {
    transform: translateY(-7%);
  }
  97% {
    transform: translateY(0%);
  }
  99% {
    transform: translateY(-3%);
  }

  100% {
    opacity: 1;
  }
}

.story {
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  //   border: 2px solid green;

  .fa-graduation-cap {
    color: #ff5dcd;
    font-size: 3rem;
    animation: grad-cap 3s;
    transform: rotate(-22deg) translate(-13rem, -3.5rem);
  }

  h2 {
    font-family: "peachSundress";
    text-align: center;
    margin-bottom: 10rem;
    font-size: 4rem;
    font-weight: 2+00;
  }

  .chapter {
    width: 50%;
    font-size: 1.7rem;
  }
}

.story-side {
  display: flex;
  justify-content: space-around;

  .grid-container {
    //   display: flex;

    .pic-grid {
      display: grid;
      grid-template-columns: repeat(2, 18rem);
      grid-template-rows: repeat(2, 18rem);
      align-items: center;
      justify-items: center;
      gap: 0.4rem;

      .pc-03 {
        background-color: #ffff3f;
        opacity: 0.8;
        background-image: linear-gradient(135deg, #ffff3f 25%, transparent 0%),
          linear-gradient(225deg, #ffff3f 25%, transparent 0%),
          linear-gradient(45deg, #ffff3f 25%, transparent 0%),
          linear-gradient(315deg, #ffff3f 25%, #e5e5f7 0%);
        background-position: 17px 0, 17px 0, 0 0, 0 0;
        background-size: 17px 17px;
        background-repeat: repeat;
        display: flex;
        justify-content: center;
        align-items: center;

        //   SECONDARY BACKGROUND PATTERN

        //   background-image: linear-gradient(135deg, #e7f4d7 25%, transparent 25%),
        //     linear-gradient(45deg, #e7f4d7 25%, transparent 25%),
        //     linear-gradient(315deg, #e7f4d7 25%, transparent 25%);
        //   background-position: 17px 0, 17px 0, 0 0, 0 0;
        //   background-size: 17px 17px;
        //   background-repeat: repeat;

        i {
          color: #ff5dcd;

          position: absolute;
        }

        .fa-disease {
          font-size: 4rem;
          animation: clock-wise 6s;
          animation-iteration-count: infinite;
          position: relative;
          top: 3rem;
        }

        .fa-crown {
          font-size: 14rem;
          z-index: -5;
          color: #ffff3f;
          animation: counter-wise 6s;
          animation-iteration-count: infinite;
          //   transform: translate(-45%, 20%);
        }
      }

      .p-cube {
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 10px;
        //   position: relative;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

@keyframes clock-wise {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

@keyframes counter-wise {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-359deg);
  }
}

// .ar-container {
//   border: 2px solid red;
// }

// .ar-container img {
//     width: 50%;
//     height: auto;
// }

.keyword {
  text-decoration: none;
  color: rgb(231, 244, 215);
  text-shadow: 1px 0px 11px rgba(23, 26, 28, 0.73);
  font-weight: 500;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

// CONTACT FORM

.form-page {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;

  .contact-form {
    border: 1px solid red;
    height: 50%;
  }
}

form {
  //   width: 50%;
  display: flex;
  flex-direction: column;
  //   padding: 1rem;

  .form-items {
    width: 75%;
    margin: 0 auto;
    padding: 1rem;
  }
}

h2 {
  font-family: "peachSundress";
  text-align: center;
  margin-bottom: 10rem;
  font-size: 4rem;
  font-weight: 2+00;
}
// REMNANTS HI-GRID

// .hi-grid {
//   display: grid;
//   grid-template-columns: repeat(7, 1fr);
//   grid-template-rows: repeat(10, 10vw);
//   gap: 0.2rem;
//   width: 50vw;
//   height: 100vh;

// }

// .hi-grid {
//   display: grid;
//   grid-template-columns: repeat(8, 1fr);
//   grid-template-rows: repeat(12, 180px);
//   gap: 2px;
//   width: 50vw;
//   height: 100vh;
//   border: 2px solid red;
// }

// .h-block {
//   background-color: black;
//   animation: firefly 3.5s;
//   animation-iteration-count: infinite;
// }

// .hb-020 {
//   //   background-color: yellow;
//   width: 100%;
//   height: 50%;

//   //   duration: 4s;
// }

// .hb-034 {
//     background-color: yellow;
// }

// HIDDEN GRID BLOCKS

// .hb-01,
// .hb-02,
// .hb-03,
// .hb-04,
// .hb-05,
// .hb-06,
// .hb-07,
// .hb-08,
// .hb-09,
// .hb-010,
// .hb-011,
// .hb-012,
// .hb-013,
// .hb-014,
// .hb-015,
// .hb-017,
// .hb-019,
// .hb-021,
// .hb-022,
// .hb-026,
// .hb-028,
// .hb-029,
// .hb-031,
// .hb-033,
// .hb-035,
// .hb-036,
// .hb-037,
// .hb-038,
// .hb-039,
// .hb-040,
// .hb-041,
// .hb-042,
// .hb-043,
// .hb-044,
// .hb-045,
// .hb-046,
// .hb-047,
// .hb-048,
// .hb-049 {
//   visibility: hidden;
// }

// .hb-011 {
//   grid-column: 3;
//   grid-row: 3.5/4.5;
// }
