* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-repeat: no-repeat;
}

@font-face {
  font-family: "peachSundress";
  src: url("../assets/fonts/bulletto/Bulletto Killa.ttf");
}
body {
  background-color: rgba(191, 214, 217, 0.89);
}

.navbar {
  position: fixed;
  background-color: rgba(223, 229, 117, 0.4);
  width: 100%;
  height: 5rem;
}
.navbar ul {
  display: flex;
  padding: 1rem;
  width: 100%;
  justify-content: end;
}
.navbar ul li {
  font-size: 1.8rem;
  padding-right: 5.5rem;
  list-style: none;
  font-family: "peachSundress";
}

a {
  text-decoration: none;
}

.nav-tabs:hover {
  color: #ff5dcd;
}

.nav-tabs ul li:hover {
  color: #ff5dcd;
}

.dropdown {
  padding: 0;
  position: absolute;
  display: none;
}

.drop-item:hover > .dropdown {
  display: block;
}

.social-tabs {
  padding: 0.5rem 0;
}
.social-tabs a {
  font-size: 1.5rem;
}

.introPage {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  align-items: center;
  background: linear-gradient(-45deg, #dce8a7, #bddde1, #d8dab0, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.greeting-text {
  font-family: "peachSundress" !important;
  font-size: 12.5rem;
  letter-spacing: 0.5rem;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  line-height: 1.5;
}

.hi-container {
  height: 100vh;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.hi-text {
  width: 56rem;
  height: 50rem;
  display: flex;
  justify-content: space-between;
  margin-right: 8rem;
}

.letter-h {
  display: flex;
  height: 100%;
}

.h-right {
  margin-left: 0.4rem;
}

.h-middle {
  height: 100%;
  width: 12rem;
  margin-left: 0.4rem;
  display: flex;
  align-items: center;
}

.blind-i {
  visibility: hidden;
}

.h-cube {
  background-color: black;
  width: 12rem;
  height: 12rem;
  margin-bottom: 0.4rem;
  border-radius: 10px;
  animation: firefly 3.5s;
}

@keyframes firefly {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.cb-01 {
  animation-delay: 0;
}

.cb-02 {
  animation-delay: 2s;
}

.cb-03 {
  animation-delay: 4.2;
}

.cb-04 {
  animation-delay: 2.5;
}

.cb-05 {
  animation-delay: 3.5s;
}

.cb-06 {
  animation-delay: 3s;
}

.cb-07 {
  animation-delay: 1.8s;
}

.cb-08 {
  animation-delay: 0.5s;
}

@keyframes grad-cap {
  0% {
    transform: rotate(-22deg) translate(-13rem, -10rem);
    opacity: 0;
  }
  20% {
    opacity: 0.2;
  }
  70% {
    transform: translateY(0%);
  }
  80% {
    transform: translateY(-15%);
  }
  90% {
    transform: translateY(0%);
  }
  95% {
    transform: translateY(-7%);
  }
  97% {
    transform: translateY(0%);
  }
  99% {
    transform: translateY(-3%);
  }
  100% {
    opacity: 1;
  }
}
.story {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.story .fa-graduation-cap {
  color: #ff5dcd;
  font-size: 3rem;
  animation: grad-cap 3s;
  transform: rotate(-22deg) translate(-13rem, -3.5rem);
}
.story h2 {
  font-family: "peachSundress";
  text-align: center;
  margin-bottom: 10rem;
  font-size: 4rem;
  font-weight: 2;
}
.story .chapter {
  width: 50%;
  font-size: 1.7rem;
}

.story-side {
  display: flex;
  justify-content: space-around;
}
.story-side .grid-container .pic-grid {
  display: grid;
  grid-template-columns: repeat(2, 18rem);
  grid-template-rows: repeat(2, 18rem);
  align-items: center;
  justify-items: center;
  gap: 0.4rem;
}
.story-side .grid-container .pic-grid .pc-03 {
  background-color: #ffff3f;
  opacity: 0.8;
  background-image: linear-gradient(135deg, #ffff3f 25%, transparent 0%), linear-gradient(225deg, #ffff3f 25%, transparent 0%), linear-gradient(45deg, #ffff3f 25%, transparent 0%), linear-gradient(315deg, #ffff3f 25%, #e5e5f7 0%);
  background-position: 17px 0, 17px 0, 0 0, 0 0;
  background-size: 17px 17px;
  background-repeat: repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.story-side .grid-container .pic-grid .pc-03 i {
  color: #ff5dcd;
  position: absolute;
}
.story-side .grid-container .pic-grid .pc-03 .fa-disease {
  font-size: 4rem;
  animation: clock-wise 6s;
  animation-iteration-count: infinite;
  position: relative;
  top: 3rem;
}
.story-side .grid-container .pic-grid .pc-03 .fa-crown {
  font-size: 14rem;
  z-index: -5;
  color: #ffff3f;
  animation: counter-wise 6s;
  animation-iteration-count: infinite;
}
.story-side .grid-container .pic-grid .p-cube {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
}
.story-side .grid-container .pic-grid .p-cube img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes clock-wise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes counter-wise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-359deg);
  }
}
.keyword {
  text-decoration: none;
  color: rgb(231, 244, 215);
  text-shadow: 1px 0px 11px rgba(23, 26, 28, 0.73);
  font-weight: 500;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.form-page {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}
.form-page .contact-form {
  border: 1px solid red;
  height: 50%;
}

form {
  display: flex;
  flex-direction: column;
}
form .form-items {
  width: 75%;
  margin: 0 auto;
  padding: 1rem;
}

h2 {
  font-family: "peachSundress";
  text-align: center;
  margin-bottom: 10rem;
  font-size: 4rem;
  font-weight: 2;
}

/*# sourceMappingURL=styles.css.map */
